@import '../base/helpers';

.theme.--light .custom-cursor {
	mix-blend-mode: exclusion;
}

.custom-cursor {
	z-index: 99;
	pointer-events: none;
	position: fixed;
	border-radius: 50%;
	opacity: 0;
	width: 5rem;
	height: 5rem;
	left: -2.6rem;
	top: -2.6rem;
	border: 2px solid var(--secondary-color);
	display: none;

	@include laptop {
		display: block;
	}
	@include desktop {
		display: block;
	}

	&.--active {
		opacity: 1;
	}

	&__mask {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%);
		width: 1px;
		height: 1px;
		border-radius: 50%;
		background-color: var(--secondary-color);
		transition: transform 0.2s $easing;
	}

	&.--small &__mask,
	&.--medium &__mask,
	&.--large &__mask {
		width: 5px;
		height: 5px;
		transition-duration: 0.4s;
	}

	&.--small &__mask {
		transform: translate(-50%) scale(12);
	}

	&.--active.--medium &__mask {
		transform: translate(-50%) scale(30);
	}

	&.--active.--large &__mask {
		transform: translate(-50%) scale(45);
	}
}
