:root {
  --dark: #0f1c13;
  --light: #fcfaf9;
  --dark-blend: soft-light;
  --light-blend: exclusion;
  --default-font-family: "Century Gothic", sans-serif;
  --serif-font-family: "Italiana", serif;
  --size-xgg: calc(.5rem + 15vw);
  --size-gg: calc(.5rem + 16.18vw);
  --size-g: calc(.5rem + 6.18vh);
  --size-m: calc(.5rem + 3.81924vh);
  --size-p: calc(.5rem + 1.45866vh);
  --size-xp: calc(1.2rem);
}

@media (min-width: 550px) {
  :root {
    --size-xp: calc(.5rem + 1.45866vh);
  }
}

@media (min-width: 1024px) and (max-height: 1300px) {
  :root {
    --size-xgg: 13vw;
    --size-gg: 10vw;
    --size-g: 10vh;
    --size-m: 3.81924vw;
    --size-p: 2.36029vw;
    --size-xp: 2.36029vh;
  }
}

@media (min-width: 1300px) {
  :root {
    --size-xgg: 13vw;
    --size-gg: 10vw;
    --size-g: 10vh;
    --size-m: 3.81924vw;
    --size-p: 2.36029vw;
    --size-xp: 2.36029vh;
  }
}

.scrollbar-track {
  z-index: 1;
  user-select: none;
  position: absolute;
  background-color: #0000 !important;
}

.scrollbar-track-y {
  width: 8px;
  height: 100%;
  top: 0;
  right: 0;
}

.scrollbar-thumb {
  min-height: 8px;
  position: absolute;
  top: 0;
  right: 0 !important;
  left: unset !important;
  width: 3px !important;
  opacity: .2 !important;
  background-color: var(--secondary-color) !important;
}

@media (min-width: 1024px) and (max-height: 1300px) {
  .scrollbar-thumb {
    left: 0 !important;
    right: unset !important;
    width: 8px !important;
    opacity: .6 !important;
  }
}

@media (min-width: 1300px) {
  .scrollbar-thumb {
    left: 0 !important;
    right: unset !important;
    width: 8px !important;
    opacity: .6 !important;
  }
}

.header {
  width: 96vw;
  z-index: 10;
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: fixed;
  top: 3vh;
  left: 50%;
  transform: translateX(-50%);
}

.header__titles {
  flex-grow: 1;
}

.header__menu {
  align-items: center;
  padding: .6rem 0;
  display: flex;
}

@media (min-width: 550px) {
  .header__menu {
    padding: 1rem 0;
  }
}

.header__titles, .header__menu__list {
  height: 100%;
  width: fit-content;
  display: flex;
  position: relative;
  overflow: hidden;
}

.header__subtitles {
  margin-left: var(--size-xp);
  position: relative;
}

@media (min-width: 550px) {
  .header__subtitles {
    margin-left: var(--size-m);
  }
}

@media (min-width: 1024px) and (max-height: 1300px) {
  .header__subtitles {
    margin-left: var(--size-g);
  }
}

@media (min-width: 1300px) {
  .header__subtitles {
    margin-left: var(--size-g);
  }
}

.header__subtitle {
  position: absolute;
  bottom: 0;
  left: 0;
}

.header__subtitle.--last {
  display: none;
}

@media (min-width: 550px) {
  .header__subtitle.--last {
    display: unset;
  }
}

.header__menu__item {
  margin-left: var(--size-xp);
}

.header__menu__item.--lang {
  margin-left: 0;
}

@media (min-width: 550px) {
  .header__menu__item {
    margin-left: 4rem;
  }
}

.header__title, .header__subtitle, .header__menu__item.--contact, .header__menu__item.--lang {
  cursor: pointer;
  white-space: nowrap;
  font-size: var(--size-xp);
  line-height: 1.3;
  text-decoration: none;
  display: block;
  transform: translateY(100%);
}

.header__menu__item.--theme {
  cursor: pointer;
  background-color: var(--secondary-color);
  border-radius: 50%;
  align-self: center;
  padding: .8rem;
  transform: translateY(200%);
}

@media (min-width: 550px) {
  .header__menu__item.--theme {
    margin-left: 4rem;
    padding: 1rem;
  }
}

.header__line {
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -.2rem;
  left: 0;
  transform: translateX(110%);
}

.header__wrapper--dots {
  opacity: 0;
  min-width: 4rem;
  justify-content: center;
  align-items: baseline;
  margin: auto 0 auto 2rem;
  animation: fade-in .4s cubic-bezier(.3, 1, .7, 1) .4s forwards;
  display: flex;
}

@media (min-width: 550px) {
  .header__wrapper--dots {
    margin-left: 4rem;
  }
}

.header__wrapper--dots .dots {
  justify-content: center;
  align-items: center;
  margin: 0 -5%;
  padding: 1rem 0;
  display: flex;
  position: relative;
}

.header__wrapper--dots .dot {
  width: .6rem;
  height: .6rem;
  border: 1px solid var(--secondary-color);
  border-radius: 100%;
  margin-left: .6rem;
  transition: background-color .4s ease-out;
  overflow: hidden;
}

.header__wrapper--dots .dot:first-child {
  margin-left: 0;
}

@media (min-width: 550px) {
  .header__wrapper--dots .dot {
    width: .8rem;
    height: .8rem;
    margin-left: .8rem;
  }
}

.header__wrapper--dots .dots.--loading {
  animation: spinning 1.5s linear infinite;
}

.header__wrapper--dots .dots.--loading .dot {
  margin: unset;
  position: absolute;
}

.header__wrapper--dots .dots.--loading .dot:first-child {
  position: relative;
  top: -10px;
}

.header__wrapper--dots .dots.--loading .dot:nth-child(2) {
  top: 15px;
  left: -8.66px;
}

.header__wrapper--dots .dots.--loading .dot:last-child {
  top: 15px;
  left: 8.66px;
}

@keyframes spinning {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(.4);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.scroll-icon {
  width: 25vw;
  height: fit-content;
  cursor: pointer;
  position: absolute;
  top: 80%;
  left: 50vw;
}

@media (min-width: 1024px) and (max-height: 1300px) {
  .scroll-icon {
    width: 20rem;
    top: 75%;
    left: 65vw;
  }
}

@media (min-width: 1300px) {
  .scroll-icon {
    width: 20rem;
    top: 75%;
    left: 65vw;
  }
}

@media (max-width: 1200px) and (orientation: landscape) {
  .scroll-icon {
    width: 15rem;
    top: 75%;
    left: 65vw;
  }
}

.scroll-icon svg {
  width: 100%;
  height: auto;
  pointer-events: none;
  animation: spin 35s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(-360deg);
  }
}

.theme.--light .cursor {
  mix-blend-mode: exclusion;
}

.--mobile .cursor {
  display: none !important;
}

.cursor {
  z-index: 99;
  pointer-events: none;
  opacity: 0;
  width: 5rem;
  height: 5rem;
  transition: transform .4s cubic-bezier(.3, 1, .7, 1);
  position: fixed;
  top: -2.6rem;
  left: -2.6rem;
}

.cursor__default {
  height: 100%;
  width: 100%;
  border: 2px solid var(--secondary-color);
  border-radius: 100%;
  transition: transform .2s cubic-bezier(.3, 1, .7, 1);
  position: absolute;
  top: 0;
  left: 0;
}

.cursor.--active .cursor__default {
  transform: scale(.8);
}

.cursor__mask {
  width: 5px;
  height: 5px;
  opacity: 0;
  background-color: var(--secondary-color);
  border-radius: 100%;
  transition: transform .4s cubic-bezier(.3, 1, .7, 1), opacity .4s cubic-bezier(.3, 1, .7, 1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

.cursor.--small .cursor__mask, .cursor.--medium .cursor__mask, .cursor.--large .cursor__mask {
  opacity: 1;
}

.cursor.--small .cursor__mask {
  transform: translate(-50%)scale(13);
}

.cursor.--medium .cursor__mask {
  transform: translate(-50%)scale(25);
}

.cursor.--large .cursor__mask {
  transform: translate(-50%)scale(45);
}

.cursor.--small.--active .cursor__mask {
  transform: translate(-50%)scale(9);
}

.cursor.--medium.--active .cursor__mask {
  transform: translate(-50%)scale(17);
}

.cursor.--large.--active .cursor__mask {
  transform: translate(-50%)scale(35);
}

.footer {
  width: 96vw;
  height: 50vh;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: calc(3vh + .6rem);
  display: flex;
  transform: translateX(-1vw);
}

@media (min-width: 550px) {
  .footer {
    height: auto;
    margin-bottom: calc(3vh + 1.2rem);
  }
}

.footer__social {
  width: 100%;
  height: 44vh;
  flex-flow: column;
  justify-content: flex-start;
  align-items: baseline;
  display: flex;
  position: relative;
  overflow: hidden;
}

@media (min-width: 550px) {
  .footer__social {
    height: fit-content;
    flex-flow: row;
    justify-content: space-between;
  }
}

.footer__social__item {
  margin: 0 0 2vh 4vw;
  overflow: hidden;
}

@media (min-width: 550px) {
  .footer__social__item {
    margin: 0;
  }
}

.footer__social__link {
  cursor: pointer;
  font-family: var(--serif-font-family);
  font-size: var(--size-m);
  white-space: nowrap;
  line-height: 1.3;
  text-decoration: none;
  display: block;
}

.footer__line {
  width: 100%;
  height: 1px;
  margin: 1rem 0;
}

.footer__location, .footer__copyright {
  overflow: hidden;
}

.footer__location__text, .footer__copyright__text {
  font-size: var(--size-xp);
  height: 100%;
  display: block;
}

@media (min-width: 550px) {
  .footer__location__text, .footer__copyright__text {
    font-size: 1.3rem;
  }
}

.section--hero {
  min-height: 100vh;
  padding-bottom: 10vh;
  position: relative;
}

@media (min-width: 1024px) and (max-height: 1300px) {
  .section--hero {
    padding-bottom: 0;
  }
}

@media (min-width: 1925px) {
  .section--hero {
    padding-top: 6vh;
  }
}

.section--hero h1 {
  font-size: var(--size-gg);
  cursor: default;
  line-height: 1.2;
  font-family: var(--serif-font-family);
}

@media (min-width: 1024px) and (max-height: 1300px) {
  .section--hero h1 {
    margin-bottom: 0;
    margin-left: -.7%;
    line-height: 1.1;
  }
}

@media (min-width: 1300px) {
  .section--hero h1 {
    margin-bottom: 0;
    margin-left: -.7%;
    line-height: 1.1;
  }
}

@media (max-width: 1200px) and (orientation: landscape) {
  .section--hero h1 {
    margin-bottom: 0;
    font-size: 9vw;
    line-height: 1.1;
  }
}

.title-wrapper {
  padding-bottom: var(--size-xp);
  overflow: hidden;
}

.about.section {
  min-height: 100vh;
  padding-left: 10vw;
  position: relative;
}

@media (min-width: 550px) {
  .about.section {
    padding-left: 40vw;
  }
}

@media (min-width: 1024px) and (max-height: 1300px) {
  .about.section {
    padding: 10vw 0 10vw 30vw;
  }
}

@media (min-width: 1300px) {
  .about.section {
    padding: 10vw 0 10vw 30vw;
  }
}

.about__text {
  font-size: var(--size-p);
  margin-bottom: 7vw;
  line-height: 1.5;
}

@media (min-width: 1024px) and (max-height: 1300px) {
  .about__text {
    margin-bottom: 2vw;
  }
}

@media (min-width: 1300px) {
  .about__text {
    margin-bottom: 2vw;
  }
}

@media (min-width: 1925px) {
  .about__text {
    font-size: calc(var(--size-xp)  * 2);
  }
}

.about__image {
  width: 100vw;
  pointer-events: none;
  z-index: -2;
  opacity: 0;
  transition: width .4s cubic-bezier(.3, 1, .7, 1);
  position: fixed;
  top: 15vh;
  left: 0;
  overflow: hidden;
}

@media (min-width: 550px) {
  .about__image {
    width: 45vw;
    display: block;
    top: 25vh;
    left: 4vw;
  }
}

@media (min-width: 1024px) and (max-height: 1300px) {
  .about__image {
    width: 32vw;
    top: 40vh;
  }
}

@media (min-width: 1300px) {
  .about__image {
    width: 32vw;
    top: 40vh;
  }
}

@media (min-width: 1925px) {
  .about__image {
    top: 50vh;
  }
}

@media (min-width: 550px) {
  .theme.--light .about__image {
    width: 26vw;
    top: 30vh;
  }
}

@media (min-width: 1024px) and (max-height: 1300px) {
  .theme.--light .about__image {
    top: 40vh;
  }
}

@media (min-width: 1300px) {
  .theme.--light .about__image {
    top: 40vh;
  }
}

.about__image__of__ed {
  width: 100%;
  height: auto;
}

.theme.--dark .about__image {
  mix-blend-mode: exclusion;
}

@media (min-width: 550px) {
  .theme.--dark .about__image {
    mix-blend-mode: exclusion;
  }
}

.theme.--light .about__image {
  mix-blend-mode: luminosity;
}

@media (min-width: 550px) {
  .theme.--light .about__image {
    mix-blend-mode: normal;
  }
}

.section.projects {
  padding-top: 15vh;
}

@media (min-width: 1024px) and (max-height: 1300px) {
  .section.projects {
    padding: 20vh 0;
  }
}

@media (min-width: 1300px) {
  .section.projects {
    padding: 20vh 0;
  }
}

.project {
  margin-bottom: 15vh;
}

@media (min-width: 1024px) and (max-height: 1300px) {
  .project {
    margin-bottom: var(--size-p);
  }
}

@media (min-width: 1300px) {
  .project {
    margin-bottom: var(--size-p);
  }
}

.project__title {
  justify-content: flex-start;
  display: flex;
}

@media (min-width: 1925px) {
  .project__title {
    justify-content: flex-start;
  }
}

.project__title h3 {
  font-size: var(--size-m);
  font-family: var(--serif-font-family);
  width: fit-content;
  transition: opacity .4s cubic-bezier(.3, 1, .7, 1);
}

@media (max-width: 1200px) and (orientation: landscape) {
  .project__title.--fade-in h3 {
    margin-bottom: 0;
    line-height: 1.1;
  }
}

@media (min-width: 1024px) and (max-height: 1300px) {
  .project__title.--fade-in h3 {
    opacity: .4;
    line-height: 1;
  }
}

@media (min-width: 1300px) {
  .project__title.--fade-in h3 {
    opacity: .4;
    line-height: 1;
  }
}

.project__marquee {
  --offset: 20vw;
  --move-initial: calc(-25% + var(--offset) );
  --move-final: calc(-50% + var(--offset) );
  padding: 1rem 0;
  position: relative;
  overflow: hidden;
}

.project__marquee__inner {
  width: fit-content;
  transform: translate3d(var(--move-initial), 0, 0);
  will-change: transform;
  opacity: 0;
  cursor: default;
  transition: opacity .4s cubic-bezier(.3, 1, .7, 1);
  animation: marquee 15s linear infinite paused;
  display: flex;
  position: relative;
}

.project__marquee__inner.--paused {
  animation-play-state: paused !important;
}

.project__marquee span {
  font-family: var(--sans-font-family);
  text-transform: uppercase;
  padding: 0 1.5rem;
  font-size: 1.2rem;
  position: relative;
}

@media (min-width: 1024px) and (max-height: 1300px) {
  .project__marquee span {
    padding: 0 3rem;
    font-size: .9vw;
  }
}

@media (min-width: 1300px) {
  .project__marquee span {
    padding: 0 3rem;
    font-size: .9vw;
  }
}

.project__marquee span:before {
  content: "";
  width: 5px;
  height: 1px;
  background-color: var(--secondary-color);
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateX(50%);
}

@keyframes marquee {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}

.project__image {
  width: 100%;
  margin-top: 5vh;
}

@media (min-width: 1024px) and (max-height: 1300px) {
  .project__image {
    height: 60vh;
    width: auto;
    margin-right: auto;
    display: block;
  }
}

.--desktop .project__image {
  display: none;
}

.project.--active {
  display: block;
}

@media (min-width: 1024px) and (max-height: 1300px) {
  .project.--active h3 {
    opacity: 1;
    z-index: 10;
  }
}

@media (min-width: 1300px) {
  .project.--active h3 {
    opacity: 1;
    z-index: 10;
  }
}

.project.--active .project__marquee__inner {
  opacity: 1;
  animation-play-state: running;
}

.project-slider {
  width: 60vw;
  height: 0;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
  padding-bottom: 33.6%;
  transition: opacity .4s cubic-bezier(.3, 1, .7, 1);
  display: none;
  position: fixed;
  bottom: 5vh;
  right: 3vw;
}

@media (min-width: 1024px) and (max-height: 1300px) {
  .project-slider {
    display: block;
  }
}

@media (min-width: 1300px) {
  .project-slider {
    display: block;
  }
}

@media (min-width: 1925px) {
  .project-slider {
    width: 55vw;
    padding-bottom: 30%;
    bottom: 1vh;
    right: 10vw;
  }
}

@media (min-width: 1024px) and (max-height: 1300px) {
  .project-slider.--active {
    pointer-events: visible;
    opacity: 1;
  }
}

@media (min-width: 1300px) {
  .project-slider.--active {
    pointer-events: visible;
    opacity: 1;
  }
}

.project-slider__img--wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.project-slider__img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.project-slider__img--mask {
  height: 100%;
  overflow: hidden;
}

.project-slider video, .project-slider img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: top left;
  opacity: 0;
  transition: opacity .4s cubic-bezier(.3, 1, .7, 1);
  position: absolute;
  top: 0;
  left: 0;
}

.project-slider video.--active, .project-slider img.--active {
  opacity: 1;
}

.section.contact {
  height: 100vh;
  justify-content: space-between;
  position: relative;
}

.contact__CTA {
  align-self: center;
  margin-top: 15vh;
}

@media (min-width: 550px) {
  .contact__CTA {
    margin-top: 5vh;
  }
}

.contact__CTA__mask {
  overflow: hidden;
}

.contact__CTA__link {
  font-family: var(--serif-font-family);
  color: var(--text-color);
  font-size: var(--size-xgg);
  will-change: transform;
  text-decoration: none;
  display: block;
}

.contact__CTA__link span {
  margin-left: var(--size-xp);
  font-size: var(--size-xp);
  pointer-events: none;
}

.section {
  flex-flow: column;
  justify-content: center;
  display: flex;
}

