section(class="section about")
	div(class="--fade-in")
		p(class="about__text")
			| Eduardo is a Brazilian developer with 3+ years of experience working with code for web and many more studying. Detail oriented, creates experiences combining beautiful design with creative motions and interactions.
	div(class="--fade-in")
		p(class="about__text")
			| Besides coding, i seek a healthy and balanced life and love to make playlists to listen while work, travel, exercize, chill, hang out with friends and do the dishes (dancing of course).