section(class="section contact")
  div
    
  div(class="contact__CTA --fade-in")
    div(class="contact__CTA__mask")
      a(class="contact__CTA__link" href="mailto:oi@edubon.work") Get in touch
        span :) 

  footer(class="footer")
    ul(class="footer__social")
      li(class="footer__social__item")
        a(class="footer__social__link theme--color" href="https://github.com/edbonamigo" target="_blank") Github
      li(class="footer__social__item")
        a(class="footer__social__link theme--color" href="https://www.linkedin.com/in/edbonamigo/" target="_blank") Linkedin
      li(class="footer__social__item")
        a(class="footer__social__link theme--color" href="./EduardoB.MüllerPT.pdf" target="_blank") Curriculum
      li(class="footer__social__item")
        a(class="footer__social__link theme--color" href="mailto:oi@edubon.work" target="_blank") Email

    div(class="footer__line theme--background")
    div(class="footer__location")
      p(class="footer__location__text theme--color") BR, Porto Alegre
    div(class="footer__copyright")
      p(class="footer__copyright__text theme--color") Eduardo B. Müller &copy; 2023