section(class="section section--hero")
	
	div(class="title-wrapper")
		h1(class="theme--color") Eduardo Bonamigo
	div(class="title-wrapper")
		h1(class="theme--color") Web Developer

	div(class="scroll-icon")
		img(src="./scroll.svg", alt="")