section(class="section section--hero")
	
	div(class="title-wrapper")
		h1(class="theme--color") Eduardo Bonamigo
	div(class="title-wrapper")
		h1(class="theme--color") Web Developer

	div(class="scroll-icon")
		img(class="--dark" src="./scroll.svg", alt="")
		img(class="--light" src="./scroll-green.svg", alt="")