section(class="section projects")

	div(class="project" data-id="tlscp")
		div(class="project__title --fade-in")
			h3 Telescópio
		div(class="project__marquee")
			div(class="project__marquee__inner")
				span Webpack
				span Wordpress
				span SASS
				span GSAP
				span Barba
				span Lottie
				span Webpack
				span Wordpress
				span SASS
				span GSAP
				span Barba
				span Lottie
				span Webpack
				span Wordpress
				span SASS
				span GSAP
				span Barba
				span Lottie
				span Webpack
				span Wordpress
				span SASS
				span GSAP
				span Barba
				span Lottie
		video(class="project__image --fade-in" poster="./projects/placeholder.png" autoplay muted loop playsinline)
			source(src="./projects/tlscp-1.webm" type="video/webm")
			source(src="./projects/tlscp-1.mp4" type="video/mp4")

	div(class="project" data-id="audio-porto")
		div(class="project__title --fade-in")
			h3 Áudio Porto
		div(class="project__marquee")
			div(class="project__marquee__inner")
				span Webpack
				span Vanilla JS
				span Wordpress
				span SASS
				span Webpack
				span Vanilla JS
				span Wordpress
				span SASS
				span Webpack
				span Vanilla JS
				span Wordpress
				span SASS
				span Webpack
				span Vanilla JS
				span Wordpress
				span SASS
				span Webpack
				span Vanilla JS
				span Wordpress
				span SASS
				span Webpack
				span Vanilla JS
				span Wordpress
				span SASS
		video(class="project__image --fade-in" poster="./projects/placeholder.png" autoplay muted loop playsinline)
			source(src="./projects/ap-1.webm" type="video/webm")
			source(src="./projects/ap-1.mp4" type="video/mp4")

	div(class="project" data-id="gsap-demos")
		div(class="project__title --fade-in")
			h3 GSAP Demos
		div(class="project__marquee")
			div(class="project__marquee__inner")
				span SASS
				span GSAP
				span Parcel
				span SASS
				span GSAP
				span Parcel
				span SASS
				span GSAP
				span Parcel
				span SASS
				span GSAP
				span Parcel
				span SASS
				span GSAP
				span Parcel
				span SASS
				span GSAP
				span Parcel
				span SASS
				span GSAP
				span Parcel
				span SASS
				span GSAP
				span Parcel
		video(class="project__image --fade-in" poster="./projects/placeholder.png" autoplay muted loop playsinline)
			source(src="./projects/gsap-1.webm" type="video/webm")
			source(src="./projects/gsap-1.mp4" type="video/mp4")