.scroll-icon {
	height: fit-content;
	position: absolute;
	cursor: pointer;
	width: 18rem;
	left: 38vw;
	top: 78%;

	@include tablet {
    width: 20rem;
    left: 54vw;
    top: 78%;
	}

	@include laptop {
		width: 28rem;
		left: 68vw;
		top: 60%;
	}

	@include desktop {
		width: 28rem;
		left: 68vw;
		top: 65%;
	}

	@include landscape {
		width: 15rem;
		left: 65vw;
		top: 75%;
	}

	img {
		animation: spin 35s infinite linear;
		width: 100%;
		height: auto;
		pointer-events: none;

		display: none;
	}
}

.theme.--dark .scroll-icon .--dark {
	display: block;	
}
.theme.--light .scroll-icon .--light {
	display: block;
}


@keyframes spin {
	100% {
		transform: rotate(-360deg);
	}
}
