.section--about {
	padding: 10vw 0 10vh 15vw;

	@include laptop {
		padding-bottom: 10vw;
	}

	@include laptop {
		padding-left: 30vw;
	}

	.text {
		font-size: 6vw;
		margin-bottom: 7vw;
		line-height: 1.2;

		@include tablet() {
			font-size: 4vw;
		}

		@include laptop {
			font-size: 2.3vw;
			line-height: 1.2;
			margin-bottom: 2vw;
		}

		@include ultra {
			font-size: 1.5vw;
		}
	}
}
