.section--contact {
	height: 100vh;
	align-items: center;
	// justify-content: flex-start !important;

	.contact {
		// margin-top: 10vh;
	}

	.hello {
		font-family: var(--serif-font-family);
		color: var(--text-color);
		font-size: 15vw;
		text-decoration: none;
		will-change: transform;

		@include desktop {
			font-size: 12vw;
		}
	}
}
