.section.projects {
	padding-top: 15vh;

	@include laptop {
		padding: 20vh 0;
	}
	@include desktop {
		padding: 20vh 0;
	}
}

.project {
	margin-bottom: 15vh;

	@include laptop {
		margin-bottom: var(--size-p);
	}
	@include desktop {
		margin-bottom: var(--size-p);
	}
}

.project__title {
	display: flex;
	justify-content: flex-start;

	@include ultra {
		justify-content: flex-start;
	}

	h3 {
		font-size: var(--size-g);
		font-family: var(--serif-font-family);
		width: fit-content;
		transition: opacity $duration $easing;
	}

	&.--fade-in h3 {
		@include landscape {
			line-height: 1.1;
			margin-bottom: 0;
		}

		@include laptop {
			opacity: 0.4;
			line-height: 1;
		}
		@include desktop {
			opacity: 0.4;
			line-height: 1;
		}
	}
}

.project__marquee {
	position: relative;
	overflow: hidden;
	// transform: translateY(-60%);
	--offset: 20vw;
	--move-initial: calc(-25% + var(--offset));
	--move-final: calc(-50% + var(--offset));
	padding: 1rem 0;
}

.project__marquee__inner {
	width: fit-content;
	display: flex;
	position: relative;
	transform: translate3d(var(--move-initial), 0, 0);
	animation: marquee 15s linear infinite;
	animation-play-state: paused;
	transition: opacity $duration $easing;
	will-change: transform;
	opacity: 0;
	cursor: default;

	&.--paused {
		animation-play-state: paused !important;
	}
}

.project__marquee span {
	font-family: var(--sans-font-family);
	text-transform: uppercase;
	font-size: 1.2rem;
	padding: 0 1.5rem;
	position: relative;

	@include laptop {
		font-size: 0.9vw;
		padding: 0 3rem;
	}
	@include desktop {
		font-size: 0.9vw;
		padding: 0 3rem;
	}

	&::before {
		content: '';
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateX(50%);
		width: 5px;
		height: 1px;
		background-color: var(--secondary-color);
	}
}

@keyframes marquee {
	0% {
		transform: translate3d(var(--move-initial), 0, 0);
	}

	100% {
		transform: translate3d(var(--move-final), 0, 0);
	}
}

.project__image {
	width: 100%;
	margin-top: 5vh;

	@include laptop {
		display: block;
		height: 60vh;
		width: auto;
		margin-right: auto;
	}
}
.--desktop .project__image {
	display: none;
}

.project.--active {
	display: block;

	@include laptop {
		h3 {
			opacity: 1;
			z-index: 10;
		}
	}
	@include desktop {
		h3 {
			opacity: 1;
			z-index: 10;
		}
	}

	.project__marquee__inner {
		opacity: 1;
		animation-play-state: running;
	}
}

.project-slider {
	display: none;
	pointer-events: none;
	position: fixed;
	bottom: 5vh;
	right: 3vw;
	width: 60vw;
	height: auto;
	// aspect-ratio: 16/10; - Not supported on IE11
	padding-bottom: 37.5%;
	z-index: -1;
	opacity: 0;
	transition: opacity $duration $easing;

	@include laptop {
		display: block;
	}
	@include desktop {
		display: block;
	}

	@include ultra {
		bottom: 1vh;
		width: 48vw;
		right: 10vw;
		padding-bottom: 31.2%;
	}

	&.--active {
		@include laptop {
			pointer-events: visible;
			opacity: 1;
		}
		@include desktop {
			pointer-events: visible;
			opacity: 1;
		}
	}
}

.project-slider__img--wrapper {
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
}

.project-slider__img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.project-slider__img--mask {
	height: 100%;
	overflow: hidden;
}

.project-slider video,
.project-slider img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top left;
	opacity: 0;
	transition: opacity $duration $easing;

	&.--active {
		opacity: 1;
	}
}
