// TODO: Bring fonts inside the project folder
// TODO: No arquivo base deixar apenas as configurações da animação inicial e first content paint
// TODO: menu gsap animation add filter:blur(15px) to sections

@import './base/helpers';

@import './components/header';
@import './components/custom-cursor';

@import './sections/hero';
@import './sections/about';
@import './sections/projects';
@import './sections/contact';

$easing: cubic-bezier(0.075, 0.82, 0.165, 1);

.section {
	display: flex;
	flex-flow: column;
	justify-content: center;
	// padding-bottom: 10vh;
}

.scrollbar-track {
	background-color: transparent !important;
	position: absolute;
	z-index: 1;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.scrollbar-track-y {
	top: 0;
	right: 0;
	width: 8px;
	height: 100%;
}

.scrollbar-thumb {
	position: absolute;
	top: 0;
	min-height: 8px;
	right: 0 !important;
	left: unset !important;
	width: 3px !important;
	opacity: 0.2 !important;
	background-color: var(--secondary-color) !important;
}

@include laptop {
	.scrollbar-thumb {
		left: 0 !important;
		right: unset !important;
		width: 8px !important;
		opacity: 0.6 !important;
	}
}
