html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

// HTML5 display-role reset for older browsers
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

// base styles

:root {
	--dark-color: #0f1c13;
	--light-color: #fcfaf9;
	--accent-color: #99621e; // with mix-blend-mode: difference;

	--default-font-family: 'Century Gothic', sans-serif;
	--serif-font-family: 'Italiana', serif;
}

.theme {
	// switch between dark and light theme
	&.--dark {
		--primary-color: var(--dark-color);
		--secondary-color: var(--light-color);
	}
	&.--light {
		--primary-color: var(--light-color);
		--secondary-color: var(--dark-color);
	}

	::selection {
		background: var(--secondary-color);
		color: var(--primary-color);
	}

	// theme-specific styles
	background: var(--primary-color);
	color: var(--secondary-color);
	transition: background 0.3s cubic-bezier(0.3, 1, 0.7, 1),
		color 0.3s cubic-bezier(0.3, 1, 0.7, 1);

	&--border {
		border-color: var(--secondary-color);
		transition: border-color 0.3s cubic-bezier(0.3, 1, 0.7, 1);
	}

	&--background {
		background: var(--secondary-color);
		transition: background 0.3s cubic-bezier(0.3, 1, 0.7, 1);
	}

	&--color {
		color: var(--secondary-color);
		transition: color 0.3s cubic-bezier(0.3, 1, 0.7, 1);
	}

	&--fill path {
		fill: var(--secondary-color);
	}
}

.scroller {
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
}

.container {
	position: relative;
	width: 90%;
	height: 100%;
	margin: 0 auto;
}

.--loading .section {
	visibility: hidden;
}

.--fade {
	opacity: 0;
}
