@import 'helpers';

.header {
	width: 94%;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	top: 5vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	z-index: 10;

	&__title-wrapper {
		position: relative;
		height: fit-content;
		overflow: hidden;
	}

	&__title {
		line-height: 1.2;
		cursor: pointer;
		position: absolute;
		top: 110%;
		font-size: 1.6rem;
		white-space: nowrap;

		@include tablet {
			font-size: 1.4rem;
		}

		@include desktop {
			font-size: 1.6rem;
		}
	}

	.header__line {
		height: 1px;
		width: 110%;
		position: absolute;
		left: 0;
		bottom: -0.8rem;
		transform: translateX(110%);

		@include tablet {
			bottom: -1.3rem;
		}
	}
}

.nav {
	margin: auto 0;
	opacity: 0;
	animation: fade-in 0.4s $easing 0.3s forwards;

	&__dots {
		display: flex;
	}

	&__dot {
		width: 0.8rem;
		height: 0.8rem;
		margin-left: 0.6rem;
		border-radius: 50%;
		border: 1px solid var(--secondary-color);
		overflow: hidden;
		position: relative;

		&:first-child {
			margin-left: 0;
		}

		@include tablet {
			margin-left: 0.8rem;
		}
	}

	&__dots.--loading {
		padding-top: 0;
		animation: loading 1.5s infinite linear;
		width: 4rem;
		height: 4rem;

		.nav__dot:first-child {
			transform: translate(28%, 288%);
			margin-left: 0;
		}

		.nav__dot:nth-child(2) {
			transform: translate(12%, 0%);
		}

		.nav__dot:last-child {
			transform: translate(-2%, 288%);
		}
	}

	@keyframes loading {
		0% {
			transform: rotate(0deg);
			transform-origin: center;
		}
		100% {
			transform: rotate(360deg);
			transform-origin: center;
		}
	}

	&.--active .nav__dot {
		background-color: var(--light-color);
	}

	.menu {
		position: absolute;
		right: 0;
		top: calc(100% + 2rem);
		display: none;
		flex-direction: column;
		align-items: flex-end;

		@include desktop {
			top: calc(100% + 3rem);
		}

		li {
			margin-bottom: 1.4rem;
		}

		&__link {
			font-size: 6vw;
			font-style: italic;
			text-decoration: none;
			font-family: var(--default-font-family);

			&.--active {
				text-transform: uppercase;
				font-weight: bold;
			}

			@include tablet {
				font-size: 3vw;
			}

			@include desktop {
				font-size: 1.5vw;
			}
		}
	}

	&.--active .menu {
		display: flex;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
		transform: scale(0.4);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}
