@font-face {
	font-family: 'Italiana';
	src: url('../fonts/Italiana.ttf');
}

@font-face {
	font-family: 'Century Gothic';
	src: url('../fonts/century-gothic.ttf');
}

:root {
	--dark: #0f1c13;
	--dark-accent: #af5233; // with mix-blend-mode: difference;
	--light: #fcfaf9;
	--light-accent: #fcfaf9;

	--dark-blend: soft-light;
	--light-blend: exclusion;

	--default-font-family: 'Century Gothic', sans-serif;
	--serif-font-family: 'Italiana', serif;
}

.theme {
	// switch between dark and light theme
	&.--dark {
		--primary-color: var(--dark);
		--secondary-color: var(--light);
		--accent-color: var(--dark-accent);
		--blend-mode: var(--dark-blend);
	}
	&.--light {
		--primary-color: var(--light);
		--secondary-color: var(--dark);
		--accent-color: var(--light-accent);
		--blend-mode: var(--light-blend);
	}

	::selection {
		background-color: var(--secondary-color);
		color: var(--primary-color);
	}

	$theme-duration: 0.6s;
	$easing: ease-in-out;
	$defaults: $theme-duration $easing;

	// theme-specific styles
	background-color: var(--primary-color);
	color: var(--secondary-color);
	transition: background-color $defaults, color $defaults;

	&--border {
		border-color: var(--secondary-color);
		transition: border-color $defaults;
	}

	&--background {
		background-color: var(--secondary-color);
		transition: background-color $defaults;
	}

	&--color {
		color: var(--secondary-color);
		transition: color $defaults;
	}

	&--fill path {
		fill: var(--secondary-color);
		transition: fill $defaults;
	}

	&--cursor {
		mix-blend-mode: var(--blend-mode);
	}
}
