.theme.--dark {
	background-color: $main-color;
	color: $sec-color;
	transition: background-color $defaults, color $defaults;

	::selection {
		background-color: $sec-color;
		color: $main-color;
	}

	.scrollbar-thumb {
		background-color: $sec-color;
	}

	.theme--border {
		border-color: $sec-color;
		transition: border-color $defaults;
	}
	.theme--background {
		background-color: $sec-color;
		transition: background-color $defaults;
	}

	.theme--color {
		color: $sec-color;
		transition: color $defaults;
	}

	.theme--fill path {
		fill: $sec-color;
		transition: fill $defaults;
	}

	.theme--cursor {
		mix-blend-mode: $main-blend;

		.cursor__mask {
			mix-blend-mode: $main-blend;
		}
	}
}

.theme.--light {
	background-color: $sec-color;
	color: $main-color;
	transition: background-color $defaults, color $defaults;

	::selection {
		background-color: $main-color;
		color: $sec-color;
	}

	.scrollbar-thumb {
		background-color: $main-color;
	}

	.theme--border {
		border-color: $main-color;
		transition: border-color $defaults;
	}
	.theme--background {
		background-color: $main-color;
		transition: background-color $defaults;
	}

	.theme--color {
		color: $main-color;
		transition: color $defaults;
	}

	.theme--fill path {
		fill: $main-color;
		transition: fill $defaults;
	}

	.theme--cursor {
		mix-blend-mode: $sec-blend;

		.cursor__mask {
			mix-blend-mode: $sec-blend;
		}
	}
}
